In [1]:
# Importing standard libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./data/bluebook-for-bulldozers/train_tmp.csv', low_memory=False, date_parser=['sale'])
data

/var/folders/ck/jv4761qd5f1b6lyr4l3h7qvm0000gn/T/ipykernel_13514/2644624556.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  data = pd.read_csv('./data/bluebook-for-bulldozers/train_tmp.csv', low_memory=False, date_parser=['sale'])

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear
0,1646770,9500.0,1126363,8434,132,18.0,1974,NaN,NaN,TD20,...,None or Unspecified,Straight,None or Unspecified,NaN,NaN,1989,1,17,1,17
1,1821514,14000.0,1194089,10150,132,99.0,1980,NaN,NaN,A66,...,NaN,NaN,NaN,Standard,Conventional,1989,1,31,1,31
2,1505138,50000.0,1473654,4139,132,99.0,1978,NaN,NaN,D7G,...,None or Unspecified,Straight,None or Unspecified,NaN,NaN,1989,1,31,1,31
3,1671174,16000.0,1327630,8591,132,99.0,1980,NaN,NaN,A62,...,NaN,NaN,NaN,Standard,Conventional,1989,1,31,1,31
4,1329056,22000.0,1336053,4089,132,99.0,1984,NaN,NaN,D3B,...,None or Unspecified,PAT,Lever,NaN,NaN,1989,1,31,1,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412693,6302984,16000.0,1915521,5266,149,99.0,2001,NaN,NaN,D38E,...,None or Unspecified,PAT,None or Unspecified,NaN,NaN,2012,4,28,5,119
412694,6324811,6000.0,1919104,19330,149,99.0,2004,NaN,NaN,2064,...,NaN,NaN,NaN,NaN,NaN,2012,4,28,5,119
412695,6313029,16000.0,1918416,17244,149,99.0,2004,NaN,NaN,337G,...,NaN,NaN,NaN,NaN,NaN,2012,4,28,5,119
412696,6266251,55000.0,509560,3357,149,99.0,1993,NaN,NaN,12G,...,NaN,NaN,NaN,NaN,NaN,2012,4,28,5,119
412697,6283635,34000.0,1869284,4701,149,99.0,1000,NaN,NaN,544H,...,NaN,NaN,NaN,Standard,Conventional,2012,4,28,5,119

In [3]:
data.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear
0,1646770,9500.0,1126363,8434,132,18.0,1974,NaN,NaN,TD20,...,None or Unspecified,Straight,None or Unspecified,NaN,NaN,1989,1,17,1,17
1,1821514,14000.0,1194089,10150,132,99.0,1980,NaN,NaN,A66,...,NaN,NaN,NaN,Standard,Conventional,1989,1,31,1,31
2,1505138,50000.0,1473654,4139,132,99.0,1978,NaN,NaN,D7G,...,None or Unspecified,Straight,None or Unspecified,NaN,NaN,1989,1,31,1,31
3,1671174,16000.0,1327630,8591,132,99.0,1980,NaN,NaN,A62,...,NaN,NaN,NaN,Standard,Conventional,1989,1,31,1,31
4,1329056,22000.0,1336053,4089,132,99.0,1984,NaN,NaN,D3B,...,None or Unspecified,PAT,Lever,NaN,NaN,1989,1,31,1,31

In [7]:
data.dtypes

SalesID                       int64
SalePrice                   float64
MachineID                     int64
ModelID                       int64
datasource                    int64
auctioneerID                float64
YearMade                      int64
MachineHoursCurrentMeter    float64
UsageBand                    object
fiModelDesc                  object
fiBaseModel                  object
fiSecondaryDesc              object
fiModelSeries                object
fiModelDescriptor            object
ProductSize                  object
fiProductClassDesc           object
state                        object
ProductGroup                 object
ProductGroupDesc             object
Drive_System                 object
Enclosure                    object
Forks                        object
Pad_Type                     object
Ride_Control                 object
Stick                        object
Transmission                 object
Turbocharged                 object
Blade_Extension              object
Blade_Width                  object
Enclosure_Type               object
Engine_Horsepower            object
Hydraulics                   object
Pushblock                    object
Ripper                       object
Scarifier                    object
Tip_Control                  object
Tire_Size                    object
Coupler                      object
Coupler_System               object
Grouser_Tracks               object
Hydraulics_Flow              object
Track_Type                   object
Undercarriage_Pad_Width      object
Stick_Length                 object
Thumb                        object
Pattern_Changer              object
Grouser_Type                 object
Backhoe_Mounting             object
Blade_Type                   object
Travel_Controls              object
Differential_Type            object
Steering_Controls            object
saleYear                      int64
saleMonth                     int64
saleDay                       int64
saleDayOfWeek                 int64
saleDayOfYear                 int64
dtype: object

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 73670 non-null   object
 9   fiModelDesc               412698 non-null  object
 10  fiBaseModel               412698 non-null  object
 11  fiSecondaryDesc           271971 non-null  object
 12  fiModelSeries             58667 non-null   object
 13  fiModelDescriptor         74816 non-null   object
 14  ProductSize               196093 non-null  object
 15  fiProductClassDesc        412698 non-null  object
 16  state                     412698 non-null  object
 17  ProductGroup              412698 non-null  object
 18  ProductGroupDesc          412698 non-null  object
 19  Drive_System              107087 non-null  object
 20  Enclosure                 412364 non-null  object
 21  Forks                     197715 non-null  object
 22  Pad_Type                  81096 non-null   object
 23  Ride_Control              152728 non-null  object
 24  Stick                     81096 non-null   object
 25  Transmission              188007 non-null  object
 26  Turbocharged              81096 non-null   object
 27  Blade_Extension           25983 non-null   object
 28  Blade_Width               25983 non-null   object
 29  Enclosure_Type            25983 non-null   object
 30  Engine_Horsepower         25983 non-null   object
 31  Hydraulics                330133 non-null  object
 32  Pushblock                 25983 non-null   object
 33  Ripper                    106945 non-null  object
 34  Scarifier                 25994 non-null   object
 35  Tip_Control               25983 non-null   object
 36  Tire_Size                 97638 non-null   object
 37  Coupler                   220679 non-null  object
 38  Coupler_System            44974 non-null   object
 39  Grouser_Tracks            44875 non-null   object
 40  Hydraulics_Flow           44875 non-null   object
 41  Track_Type                102193 non-null  object
 42  Undercarriage_Pad_Width   102916 non-null  object
 43  Stick_Length              102261 non-null  object
 44  Thumb                     102332 non-null  object
 45  Pattern_Changer           102261 non-null  object
 46  Grouser_Type              102193 non-null  object
 47  Backhoe_Mounting          80712 non-null   object
 48  Blade_Type                81875 non-null   object
 49  Travel_Controls           81877 non-null   object
 50  Differential_Type         71564 non-null   object
 51  Steering_Controls         71522 non-null   object
 52  saleYear                  412698 non-null  int64
 53  saleMonth                 412698 non-null  int64
 54  saleDay                   412698 non-null  int64
 55  saleDayOfWeek             412698 non-null  int64
 56  saleDayOfYear             412698 non-null  int64
dtypes: float64(3), int64(10), object(44)
memory usage: 179.5+ MB

In [13]:
data.T.head()

,0,1,2,3,4,5,6,7,8,9,...,412688,412689,412690,412691,412692,412693,412694,412695,412696,412697
SalesID,1646770,1821514,1505138,1671174,1329056,1301884,1379228,1645390,1493279,1449549,...,6283634,6282337,6311321,6306476,6281219,6302984,6324811,6313029,6266251,6283635
SalePrice,9500.0,14000.0,50000.0,16000.0,22000.0,23500.0,31000.0,11750.0,63000.0,13000.0,...,35000.0,7500.0,13000.0,53000.0,39000.0,16000.0,6000.0,16000.0,55000.0,34000.0
MachineID,1126363,1194089,1473654,1327630,1336053,1182999,1082797,1527216,1363756,1289412,...,1930870,1928688,1823846,1278794,1792049,1915521,1919104,1918416,509560,1869284
ModelID,8434,10150,4139,8591,4089,4123,7620,8202,2759,3356,...,4701,22072,17311,9114,13976,5266,19330,17244,3357,4701
datasource,132,132,132,132,132,132,132,132,132,132,...,149,149,149,149,149,149,149,149,149,149

In [ ]:
# there are NaN values in there

$$
I_{\lambda,1}(0, \mu) = \varepsilon_{sfc}B_{\lambda}(T_{sfc})e^{-\tau_1/\mu} + \varepsilon_{sfc}B_{\lambda}(T_{1})(1 - e^{-\tau_1/\mu}) + \varepsilon_{sfc}B_{\lambda}(T_{2})(1 - e^{-\tau_2/\mu})
$$

In [16]:
import numpy as np

# Given values
epsilon_sfc = 1  # Surface emissivity
T1 = 230  # Temperature T1 in Kelvin
T2 = 280  # Temperature T2 in Kelvin
Tsfc = 290  # Surface temperature Tsfc in Kelvin
mu = 1  # Nadir angle (mu)

# Rayleigh-Jeans approximation value for B
RJ_approx_value = 8.28e-7

# The function to calculate the spectral radiance I_lambda_1 using the given parameters and the approximation for B
def spectral_radiance(tau1, tau2, T1, T2, Tsfc, epsilon_sfc, mu, RJ_approx_value):
    # Calculate the terms of the spectral radiance equation
    term1 = epsilon_sfc * RJ_approx_value * np.exp(-tau1 / mu)
    term2 = epsilon_sfc * RJ_approx_value * (1 - np.exp(-tau1 / mu))
    term3 = epsilon_sfc * RJ_approx_value * (1 - np.exp(-tau2 / mu))
    # Sum the terms to get the total spectral radiance
    return term1 * Tsfc + term2 * T1 + term3 * T2

# The function to calculate the brightness temperature Tb using the spectral radiance
def brightness_temperature(I_lambda_1, RJ_approx_value):
    return I_lambda_1 / RJ_approx_value

# Given optical thickness cases
tau_cases = [0, np.log(2), np.log(10)]

# Calculate the brightness temperatures for the given tau cases
brightness_temperatures = {}
for tau in tau_cases:
    # Calculate spectral radiance for each case
    I_lambda_1 = spectral_radiance(tau, tau, T1, T2, Tsfc, epsilon_sfc, mu, RJ_approx_value)
    # Calculate brightness temperature using the spectral radiance
    T_B = brightness_temperature(I_lambda_1, RJ_approx_value)
    brightness_temperatures[f'tau={tau}'] = T_B

# Output the results
brightness_temperatures

{'tau=0': 290.0,
 'tau=0.6931471805599453': 400.0,
 'tau=2.302585092994046': 488.0}

In [17]:
# Define start and end datetime
start_date = "2018-01-01 00:00:00"
end_date = "2021-12-31 17:00:00"

# Generate a date range for start_time at 30-second intervals
date_range = pd.date_range(start=start_date, end=end_date, freq='30S')

# Generate end_time by adding 30 seconds to start_time
end_time = date_range + pd.Timedelta(seconds=30)

# Create the DataFrame
df = pd.DataFrame({'start_time': date_range, 'end_time': end_time})

# Display the DataFrame information to confirm alignment with desired timeframe
print(df.info())
print(df.head())
print(df.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4206841 entries, 0 to 4206840
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   start_time  datetime64[ns]
 1   end_time    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 64.2 MB
None
           start_time            end_time
0 2018-01-01 00:00:00 2018-01-01 00:00:30
1 2018-01-01 00:00:30 2018-01-01 00:01:00
2 2018-01-01 00:01:00 2018-01-01 00:01:30
3 2018-01-01 00:01:30 2018-01-01 00:02:00
4 2018-01-01 00:02:00 2018-01-01 00:02:30
                 start_time            end_time
4206836 2021-12-31 16:58:00 2021-12-31 16:58:30
4206837 2021-12-31 16:58:30 2021-12-31 16:59:00
4206838 2021-12-31 16:59:00 2021-12-31 16:59:30
4206839 2021-12-31 16:59:30 2021-12-31 17:00:00
4206840 2021-12-31 17:00:00 2021-12-31 17:00:30

In [15]:
import math

# Calculating the natural logarithm of 2
ln_2 = math.log(2)
ln_10 = math.log(10)


# Given values
Rayleigh_Jeans_value = 8.28e-7  # The Rayleigh-Jeans approximation value
lambda_wave = 10e-3  # Wavelength in meters
T1 = 230  # Temperature of the first layer in Kelvin
T2 = 280  # Temperature of the second layer in Kelvin
Tsf = 290  # Surface temperature in Kelvin
tau_values = [0, ln_2, ln_10, ln_10]  # The given optical thicknesses
c = 3.0*10^8

# Function to calculate the spectral radiance using the Rayleigh-Jeans Law
def spectral_radiance_RJ(T, tau, mu=1):
    2*
    return Rayleigh_Jeans_value * T * exp(-tau/mu)

# Function to calculate the total observed radiance at TOA for different tau values
def total_radiance_at_TOA(tau1, tau2, mu=1):
    # Each layer radiance and surface radiance using Rayleigh-Jeans approximation
    radiance_layer1 = spectral_radiance_RJ(T1, tau1, mu)
    radiance_layer2 = spectral_radiance_RJ(T2, tau2, mu)
    radiance_surface = spectral_radiance_RJ(Tsf, 0, mu)  # Surface has no optical depth
    # Total radiance is the sum of the contributions from both layers and the surface
    return radiance_layer1 + radiance_layer2 + radiance_surface

# Calculate the total observed radiance at TOA for the given tau values
radiance_cases = [total_radiance_at_TOA(tau, tau) for tau in tau_values]

# Now we can use the Rayleigh-Jeans law to find the brightness temperature Tb
# We assume that the observed radiance is equal to the Rayleigh-Jeans value times Tb
Tb_cases = [radiance / Rayleigh_Jeans_value for radiance in radiance_cases]

Tb_cases

NameError: name 'exp' is not defined

In [18]:
a = 2
print(a)

2